# .github/workflows/weekly_scrape.yml

name: Weekly Scrape

on:
  schedule:
    - cron: '0 8 * * 0'

jobs:
  scrape:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.9

    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Run Scraper
      run: python scrape.py